.my-keyboard__primary {
  $p-min-width:1330px;
  $p-key-width:100px;
  $p-number-width:192px;
  $p-key-left:28px;
  $p-sp-width:416px;
  $p-del-left:28px;
  min-width: $p-min-width;
  .pinyin,
  .select-list {
    > div {
      width: $p-min-width;
    }
  }
  .main-keyboard {
    .key {
      width: $p-key-width;
      & + .key {
        margin-left: $p-key-left;
      }
    }
    .number-box {
      width: $p-number-width * 3 + $p-key-left * 2;
      & .number:nth-of-type(3n+1) {
          margin-left: 0px;
        }
    }
    .del-box,.pun-box {
      width: $p-number-width * 2 / 3;
      .number{
        width: $p-number-width * 2 / 3;
        font-size: 38px;
      }
    }
    .all-pun-box{
      width: $p-number-width * 3 + $p-key-left * 2;
      .number{
        width: $p-number-width * 2 / 3;
      }
      & .number:nth-of-type(4n+1) {
        margin-left: 0px;
      }
    }
    .del-box{
      margin-left: $p-del-left;
    }
    .pun-box{
      margin-right: $p-del-left;
    }
    .number {
      width: $p-number-width;
    }
    .space {
      width: $p-sp-width;
    }
  }
}